<polymer-element name="contact-add">
  <template>
    <style>
      label {
        font-family: verdana, sans-serif;
        font-weight: bold;
        color: #ffffff;
        background: #336799;
        padding: 1px;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
      }
      input {
        font-family: arial, sans-serif;
        font-size: 14px;
      }
      button {
        padding: 1px;
        background: #ffcc99;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        border-style: outset;
        border-color: #d7b9c9;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      button:active {
        background: orangered;
        border-color: blue;
      } 
      
     .new_contact{
        margin-top : 50px;
        margin-left : 300px;
        position : relative;
       
     }
      
    </style>
    <br/>
    <div class="new_contact">
    <strong align='center'>Nouveau Contact</strong>
    <table>
    <tr><td>Nom</td>
    <td><input id="nom" type="text" autocompleted size="32" placeholder="nom"/></td>
    </tr>
    <tr><td>Prénom</td>
    <td><input id="prenom" type="text" size="32" placeholder="prenom" autocompleted/></td>
    </tr>
    <tr><td>Numéro</td>
    <td><input id="numero" type="tel" size="32" placeholder="000-000-0000" autocompleted/></td>
    </tr>
    </table>
    <button on-click="{{add}}">Add</button>
    <span id="message"></span>
    </div>
  </template>
  <script type="application/dart" src="contact_add.dart"></script>
</polymer-element>
