/* link.css */

/* ===[ begin ]=== */

/*
  Title:                   Link Design Style
  Authors:                 Dzenan Ridjanovic, Ivo Balbaert
  Influenced By:           http://www.simplebits.com/
  Created:                 2006-09-03
  Updated:                 2013-06-13
*/

  a:link {
    text-decoration: none;
    font-weight: bold;
    color: #003366;
  }

  a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #c50000;
  }

  a:hover {
    text-decoration: none;
    color: #d9ece2;
    background: #663117;
  }

  button {
    padding: 1px;
    background: #ffcc99;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-style: outset;
    border-color: #d7b9c9;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  button:active {
    background: orangered;
    border-color: blue;
  }

/* ===[ end ]=== */