/* table.css */

/* ===[ begin ]=== */

/*
    Title:                   Table Design Style
    Author:                  Dzenan Ridjanovic
    Influenced By:           http://www.simplebits.com/
    Created:                 2006-09-03
    Updated:                 2007-10-30
*/

	table {
		border-top: 1px solid #999;
		border-left: 1px solid #999;
		border-collapse: collapse;
	}

	caption {
		font-family: arial, sans-serif;
		font-size: 16px;
		font-weight: bold;
		color: #003366;
		padding: 1px;
	}

	th, td {
		padding: 1px;
		border-right: 1px solid #999999;
		border-bottom: 1px solid #999999;
	}

	th {
		font-family: verdana, sans-serif;
		font-weight: bold;
		color: #ffffff;
		background: #336799;
	}

	td {
		background: #ffe4b5;
	}

/* ===[ end ]=== */